html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #1262F7, #1E0653);
    position: relative;
  }
  
  .top-right-image {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 100px;
    height: auto;
  }
  
  .top-left-image {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
    height: auto;
  }
  
  .login-form {
    background: white;
    padding: 40px 60px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .login-form h1 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .login-form label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
  }
  
  .login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-form button[type="submit"],
  .login-form .admin-login-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 16px;
    background-color: #1262F7;
    color: white;
  }
  
  .login-form button[type="submit"]:hover,
  .login-form .admin-login-button:hover {
    background-color: #0a4bcb;
  }